[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
strawberry-graphql = {extras = ["debug-server"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
